# move to /etc/systemd/system/verkundenbot.service
[Unit]
Description=Your App Service
After=network.target

[Service]
Type=simple
ExecStart=/path/to/your/app/start_command

[Install]
WantedBy=multi-user.target




[Unit]
Description=My Script

[Service]
ExecStart=/usr/bin/python3 /path/script.py

[Install]
WantedBy=multi-user.target