# move to /etc/systemd/system/verkundenbot.service
[Unit]
Description=Your App Service
After=network.target

[Service]
Type=simple
ExecStart=/path/to/your/app/start_command

[Install]
WantedBy=multi-user.target
